---
import Navigation from '../components/Navigation.astro'
import { DarkMode, SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

const locale = Astro.currentLocale ?? 'ja'
const prefix = locale === 'ja' ? '' : `/${locale}`
const altLink = locale === 'ja' ? '/en/' : '/'

/**
 * Header Component
 *
 * @description A component that displays the header of the website
 */
---

<header>
  <SkipLink />
  <Navigation>
    <li class="menu-item">
      <a href={`${prefix}/`}>{locale === 'ja' ? 'ホーム' : 'Home'}</a>
    </li>
    <li class="menu-item">
      <a href={`${prefix}/blog/`}>{locale === 'ja' ? 'ブログ' : 'Blog'}</a>
    </li>
    <li class="menu-item">
      <a href={`${prefix}/portfolio/`}>{locale === 'ja' ? 'ポートフォリオ' : 'Portfolio'}</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">
        {locale === 'ja' ? 'テーマ機能' : 'Theme features'}
        <Icon name="lucide:chevron-down" size="32" />
      </button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href={`${prefix}/accessibility-statement`}>{locale === 'ja' ? 'アクセシビリティ声明' : 'Accessibility statement'}</a>
        </li>
        <li class="submenu-item">
          <a href={`${prefix}/accessible-components`}>{locale === 'ja' ? 'アクセシブルコンポーネント' : 'Accessible components'}</a>
        </li>
        <li class="submenu-item">
          <a href={`${prefix}/color-contrast-checker`}>{locale === 'ja' ? 'カラーコントラストチェッカー' : 'Color contrast checker'}</a>
        </li>
        <li class="submenu-item">
          <a href={`${prefix}/markdown-page/`}>{locale === 'ja' ? 'Markdownページ' : 'Markdown page'}</a>
        </li>
        <li class="submenu-item">
          <a href={`${prefix}/mdx-page/`}>{locale === 'ja' ? 'MDXページ' : 'MDX page'}</a>
        </li>
        <li class="submenu-item">
          <a href={`${prefix}/404-page`}>404 page</a>
        </li>
      </ul>
    </li>
    <li class="menu-item type-icon animate-rotate">
      <DarkMode>
        <Icon name="lucide:moon" slot="light" />
        <Icon name="lucide:sun" slot="dark" />
      </DarkMode>
    </li>
    <li class="menu-item">
      <a class="locale-switch" href={altLink}>{locale === 'ja' ? 'English' : '日本語'}</a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  header {
    .type-icon {
      display: block;
      margin-inline: -7px;

      svg {
        inline-size: 30px;
        block-size: 30px;
      }
    }
  }
</style>
