---
import Navigation from '../components/Navigation.astro'
import { SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

const locale = Astro.currentLocale ?? 'ja'
const prefix = locale === 'ja' ? '' : `/${locale}`
const altLink = locale === 'ja' ? '/en/' : '/'

/**
 * Header Component
 *
 * @description A component that displays the header of the website
 */
---

<header>
  <SkipLink />
  <Navigation>
    <li class="menu-item">
      <a href={`${prefix}/`}>{locale === 'ja' ? 'ホーム' : 'Home'}</a>
    </li>
    <li class="menu-item">
      <a href={`${prefix}/services`}>{locale === 'ja' ? 'サービス' : 'Services'}</a>
    </li>
    <li class="menu-item">
      <a href={`${prefix}/pricing`}>{locale === 'ja' ? '料金' : 'Pricing'}</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">
        {locale === 'ja' ? '概要' : 'About'}
        <Icon name="lucide:chevron-down" size="32" />
      </button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href={`${prefix}/about`}>{locale === 'ja' ? '概要' : 'About'}</a>
        </li>
        <li class="submenu-item">
          <a href={`${prefix}/samples`}>{locale === 'ja' ? 'サンプル' : 'Samples'}</a>
        </li>
        <li class="submenu-item">
          <a href={`${prefix}/testimonials`}>{locale === 'ja' ? 'お客様の声' : 'Testimonials'}</a>
        </li>
        <li class="submenu-item">
          <a href={`${prefix}/faq`}>{locale === 'ja' ? 'よくある質問' : 'FAQ'}</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href={`${prefix}/contact`}>{locale === 'ja' ? 'お問い合わせ' : 'Contact'}</a>
    </li>
    <li class="menu-item">
      <a class="locale-switch" href={altLink}>{locale === 'ja' ? 'English' : '日本語'}</a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  header {
    .type-icon {
      display: block;
      margin-inline: -7px;

      svg {
        inline-size: 30px;
        block-size: 30px;
      }
    }
  }
</style>
