---
import themeConfig from '@theme-config'
/**
 * SiteMeta Component
 *
 * @description Component to handle site metadata and essential head elements
 */
interface Props {
  /**
   * The title of the page
   */
  title?: string
  /**
   * The subtitle of the page
   */
  subtitle?: string
  /**
   * The description of the page
   */
  description?: string
  /**
   * The URL of the page
   */
  url?: string
  /**
   * The image path for social sharing
   */
  image?: ImageMetadata | null
  /**
   * The author of the page
   */
  author?: string
}

let { title, subtitle, description, url, image, author } = Astro.props

title = title || themeConfig.seo.title
subtitle = subtitle || themeConfig.seo?.subtitle || ''
description = description || themeConfig.seo?.description || ''
author = author || themeConfig.seo?.author || ''
image = image || themeConfig.seo?.image || null
url = url || Astro.site?.toString() || ''

const fullTitle = title + (subtitle ? ` - ${subtitle}` : '')
---

<!-- general meta -->
<meta name="title" content={fullTitle} />
<meta name="description" content={description} />
<meta name="author" content={author} />

<!-- open graph -->
<meta property="og:title" content={fullTitle} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:image" content={image ? Astro.site + image.src : ''} />

<!-- twitter card -->

<!-- page title -->
<title>{fullTitle}</title>
